Bookmark Manager++ PRO PREMIUM v69

<form action="/view" method="get">
<input type="submit" value="View Bookmarks" style="width:350px;height:180px;"/>
</form>

<form action="/add" method="get">
<input type="submit" value="Add Bookmark" style="width:350px;height:180px;"/>
</form>
